.exchange-card {
  cursor: pointer;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-template-areas: 'title 24hVolume type rating' 'description description description description';
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0px 0px 25px;
  padding: 10px 10px 0px 10px;
  border-radius: 5px;
  border: 2px solid #185ee0;
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15); 
  &_title {
    justify-self: left;
    display: flex;
    align-items: center;
    grid-area: title;   
  }
  &_volume {
    grid-area: 24hVolume;
  } 
  &_type {
    grid-area: type;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .type{
      display: block;
      margin: 0px 5px;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.2rem;
    }
  } 
  &_rating {
    grid-area: rating;
  }  
}

.exchange_description {
  grid-area: description;
  justify-self: start;
  margin: 15px 0px 10px;
  font-size: 1.1rem;  
  font-weight: 500;
  line-height: 1.2rem;
  .country {
    font-size: 1.2rem;  
    font-weight: 600;
  }
  .description {
    margin: 10px 0px;
  }  
  .exchange_link{
    color:#185ee0;
  }
}