.title-table {
  margin-top: 50px;
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-columns:  1fr 1fr 1fr 1fr;
  grid-template-areas: 'title 24hVolume market share' 'description description description description';
  gap: 10px;
  padding: 10px 10px 0px 10px;
  font-size: calc(10px + 0.5vw);
  font-weight: 500;
  &_title {
    grid-area: title;
    justify-self: left; 
  }
  &_volume {
    grid-area: 24hVolume;
  } 
  &_market {
    grid-area: market;
  } 
  &_share {
    grid-area: share;
  }  
}

.exchange-card {
  
  border-radius: 5px;
  border: 2px solid #185ee0;
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15); 
  
}