.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    z-index: 2;
    grid-area: footer;
    width: 100%;
    background: #185ee0;
    border-radius: 10px;
    text-align: center;
    padding: 1.5rem 3rem;
    a {
        color: #fff;
    }
    .autor-link{
        display: block;
        margin-bottom: 20px;
    }
    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
            margin: 0 15px;
        }
    }
}