@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 15px;
  font-family: "Inter", sans-serif;
  display: flex;  
  .content-wrapper {
    flex: 1 1 auto;
    margin: 0px 15px;
  }
}