.cryptocurrencies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;    
}

.form {
    max-width: 60%;
    margin: 50px 0px;
    #search {
        width: 100%;
        padding: 10px;
        font-weight: 500;
        font-size: calc(10px + 0.5vw);
        resize: none;
        overflow: auto;
        border-radius: 5px;
        border: 2px solid #185ee0;
        box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15); 
    }
    
}