.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    align-items: flex-end;    
    .news-card {
        flex:1 1 40%;
        min-width: 200px;
        margin: 0px 15px 25px;
        padding: 15px 20px;
        border: 2px solid #185ee0;
        border-radius: 5px;
        box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);          
    }
}