@import '../CoinCard/CoinCard.scss';

.home-statistics_section {
    margin-top: 50px;
    margin-bottom: 75px;
}
.home-coins_section {
    margin-bottom: 50px;
}

.home_title {
    display: block;
    margin-bottom: 50px;
    font-size: calc(15px + 1vw);
    color:#185ee0;
    font-weight: 600;    
}

.home-statistics_cards {
    display: flex;
    flex-wrap: wrap;
    font-size: calc(10px + 1vw);
    font-weight: 500;
    justify-content: space-evenly;
    margin: 0 -15px;
    .home-statistics_text {
        display: block;
        margin: 0 15px 35px;
        &:nth-last-child(1) {
            margin: 0 15px;
        } 
    }
}

.home-coins_header, .home-news_header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px -15px;
    .home_title {
        display: block;
        flex:0 1 auto;
        margin: 0px 15px 50px;
        font-size: calc(15px + 1vw);
        color:#185ee0;
        font-weight: 600;
        @media (max-width: 485px) {
            margin-bottom: 25px;
        }    
    }
    a {
        display: block;
        flex:0 1 auto;
        margin: 0px 15px 25px;
        font-size: calc(10px + 1vw);
        font-weight: 600;
        color:#185ee0;
    }   
}


.home-coins_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    @media (max-width: 1010px) {
        justify-content: center;        
    }
}

.home-news_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    @media (max-width: 1010px) {
        justify-content: center;        
    }    
}

